.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
  width:100%;
  height:100%;
  overflow:scroll;
}

.flexcontainer{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width:50%;
  height:50%;
}

.flexcontainer>div {
  background-color: #e46119;
  border: 1px solid #626262;
  margin: 3px;
}

.flex {
  /* basic styling */
  width: 100%;
  height: 500px;
  border: 1px solid #fff;
  font: 14px Arial;
  padding:20px;

  /* flexbox setup */
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap:wrap;*/
  /*align-items: space-around;*/
  /*justify-content:space-evenly;*/

  overflow:scroll;

  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.flex > div {
  /*flex: 2 2 auto;*/
  width: auto; /* To make the transition work nicely. (Transitions to/from
                        "width:auto" are buggy in Gecko and Webkit, at least.
                        See http://bugzil.la/731886 for more info.) */
  /*height:200px;*/
  /*transition: width 0.7s ease-out;*/
  overflow:hidden;

}

.flex img{
  margin:5px 10px;
  width: 100% !important;
  height: auto !important;
}

/* colors */
/*.flex > div:nth-child(1){ background: #009246; }*/
/*.flex > div:nth-child(2){ background: #F1F2F1; }*/
/*.flex > div:nth-child(3){ background: #CE2B37; }*/

/*.flex > div:hover {*/
  /*width: 200px;*/
/*}*/

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}


#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
