

/*img {*/
  /*left: -10000px;*/
  /*top: -10000px;*/
  /*position: absolute;*/
/*}*/
input {
  display: block;
}

.memediv{
  text-align:center;
  border:1px solid white;
  padding:20px;
}
.memecanvas {
  display: block;
}
.memetext{
  position:relative;
  top:-30px;
}

